fastapi
uvicorn
google-auth
google-cloud-speech
python-multipart
jinja2
sse-starlette
werkzeug
requests
google-oauth2-service-account
langchain-openai
crewai
pandas
beautifulsoup4
chromadb
numpy
scipy
numexpr
python-dotenv
langchain-core